* {
    padding: 0;
    margin: 0;
}

:root {
    --branco: #f1f1f1;
    --bege1: #F6EDDE;
    --bege2: #EAD1B0;
    --bege3: #E1BC90;
    --bege4: #D49A63;
    --laranja: #CB7F44;
    --terracota: #BD6A39;
    --marrom1: #9D5431;
    --marrom2: #663A28;
    --marrom3: #371C13;
    --preto: #000;
}

/* FONTES */
@font-face {
    font-family: "Bell MT";
    src: url(./fonts/Bell-MT-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Bell MT";
    src: url(./fonts/Bell-MT-Bold-Italic.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Eshira;
    src: url(./fonts/Eshira-1.otf);
    font-weight: 400;
}

/* BODY */
body {
    background-color: var(--bege2);
    font-family: "Bell MT";
}

/* HEADER */
header {
    width: 100%;
    background-color: var(--marrom1);
}

header .container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 165px;
}

.container-flex {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

/* LOGO */
#Logo {
    width: 270px;
    margin-right: 80px;


}

/* LINKS */
.links {
    display: flex;
    align-items: center;
    gap: 130px;
}

.links a {
    font-size: 50px;
    color: var(--bege2);
    text-decoration: none;
}

.links a:hover {
    color: var(--marrom3);
    border-bottom: 1px solid var(--marrom3);
}

/* BANNER */
.Banner01 {
    width: 100%;
    height: 1700px;
    background-image: url(./img/Frame\ 2.png);
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}

/* SOBRE NÓS */
.Sobre-Nós {
    text-align: center;
    padding: 60px 0;
    display: flex;
    gap: 6%;
}

.Sobre-Nós h2 {
    font-size: 89px;
    font-family: Eshira;
    color: var(--marrom2);
    margin-bottom: 30px;
}

.Sobre-Nós img {
    width: 550px;
    border-radius: 40px;
    margin-bottom: 40px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.Texto-Sobre {
    font-size: 40px;
    color: var(--preto);
    max-width: 920px;
    margin: 0 auto;
    line-height: 1.4;
}

/* POSTS */
.Posts h3 {
    font-family: Eshira;
    font-size: 64px;
    text-align: center;
    color: #663A28;
}

.Posts img {
    align-items: center;
    margin-left: 230px;
    gap: -40px;
    margin-bottom: 20px;
    margin-top: 38px;

}

.Posts img:hover {
    transform: translateY(-10px);
}

.container h3 {
    font-family: Eshira;
    font-size: 64px;
    text-align: center;
    color: #663A28;
    margin-top: 70px;
    margin-bottom: 50px;
}



/* CONTAINER GERAL */
#corpo {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px 20px;
    gap: 20px;
    flex-wrap: wrap;
}

/* CADA CARD */
.card {
    width: 320px;
    background-color: transparent;
    text-align: center;
}

/* TÍTULOS */
.card h2 {
    font-size: 22px;
    font-family: Eshira;
    font-weight: 700;
    color: #4b2c22;
    margin-bottom: 20px;
}

/* CAIXA DA IMAGEM COM BORDA ARREDONDADA */
.img-box {
    background: #000;
    border-radius: 40px;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 500px;
    /* ajuste conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* IMAGENS */
.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#corpo img:hover{
    transform: translateY(-10px);
}




/* RODAPÉ */
footer {
    background-color: var(--marrom1);
    padding: 40px 0;
    margin-top: 60px;
    color: var(--bege1);
}

.container-footer {
    width: 85%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-social h3,
.footer-form h3 {
    font-size: 32px;
    margin-bottom: 20px;
    margin-left: 140px;
    margin-right: 140px;
}

.footer-social ul {
    list-style: none;
    margin-left: 140px;
}

.footer-social ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-social img {
    height: 45px;
    margin-top: 7px;
}

.footer-social ul li a {
    color: var(--bege2);
    font-size: 24px;
    text-decoration: none;
}

.footer-social ul li a:hover {
    color: var(--marrom3);
}

/* FORMULÁRIO RODAPÉ */
.footer-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 220px;
    padding: 60px;
}

.footer-form input {
    padding: 10px;
    width: 280px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
}

.footer-form button {
    padding: 10px;
    background-color: var(--marrom2);
    color: var(--bege1);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.footer-form button:hover {
    background-color: var(--marrom3);
}


.footer-form input {
    padding: 10px;
    width: 280px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
}

.footer-form button {
    padding: 10px;
    background-color: var(--marrom2);
    color: var(--bege1);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.footer-form button:hover {
    background-color: var(--marrom3);
}

@media screen and (max-width: 768px) {
    #sombra {
        background-color: #9D562390;
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

    #menu_botao {
        display: block;
        z-index: 1;
    }

    nav.menu {
        /* height: 100vh; */
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
    }

}